.page-actions-container {
  display: grid;
  grid-gap: 1vw;
  padding: 5%;
  grid-template-rows: minmax(10vw, 1fr) minmax(10vw, 1fr);
  grid-template-columns: minmax(10vw, 1fr) minmax(10vw, 1fr);
  
  background: #444953;
}
