@import '../../../utilities/config';

.users-container {
  // width: 100%;
  height: auto;
  background: #18181b;
}

.users-block {
  max-height: 90vh;
  overflow: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($min-block-width, 1fr));
}

$lines-color: red;
.droppable--inactive {
  background: repeating-linear-gradient(45deg, $lines-color, $lines-color 17px, #18181b 17px, #18181b 50px);
}