@import '../../../utilities/config';

$container-color: #18181b;
$container-active-color: $container-color;
$container-color--transparent: #18181bc5;

.users-container {
  height: 90vh;

  display: flex;
  flex-direction: column;

  background: $container-color;
}

.users--header {
  display: flex;
  justify-content: space-between;
}

.users--main {
  display: grid;
  overflow-y: scroll;

  align-items: flex-start;
  grid-template-columns: repeat(auto-fit, minmax($min-block-width, 1fr));

  @include --moz-color-scrollbar(#717174, $container-color--transparent);
  @include --web-color-scrollbar(#717174, $container-color--transparent);
}

.droppable--inactive {
  background: $container-active-color;

  $lines-color: rgb(110, 0, 0);
  background: repeating-linear-gradient(45deg, $lines-color, $lines-color 17px, #18181b 17px, #18181b 50px);
}
