@import '../../../utilities/config';

$container-color: #18181b;
$lines-color: rgb(110, 0, 0);

.users-container {
  // width: 100%;
  height: 90vh;
  overflow: auto;
  background: $container-color;
}

.users-block {
  height: auto;
  display: grid;
  align-items: flex-start;
  grid-template-columns: repeat(auto-fit, minmax($min-block-width, 1fr));
}

.droppable--inactive {
  background: repeating-linear-gradient(45deg, $lines-color, $lines-color 17px, #18181b 17px, #18181b 50px);
}
