$min-block-width: 230px;

@mixin --moz-color-scrollbar($thumb, $track) {
  scrollbar-color: $thumb $track;
}

@mixin --web-color-scrollbar($thumb, $track) {
  &::-webkit-scrollbar-thumb {
    background: $thumb;
  }
  &::-webkit-scrollbar-track {
    background: $track;
  }
}
