@import "../../utilities/config";

$grid-gap: 0.5vw;
$min: $min-block-width;

.main-container {
  display: grid;
  overflow: hidden;

  padding: $grid-gap;
  gap: $grid-gap;

  grid-template-columns:
    minmax(3/2 * $min, 2fr)
    minmax($min, 1fr)
    minmax($min, 1fr);

  grid-template-rows: 1fr 1fr 1fr;
}

@media only screen and (max-width: 820px) {
  .main-container {
    grid-template-columns:
      minmax(3/2 * $min, 2fr)
      0
      minmax($min, 1fr);
  }
}

@media only screen and (max-width: 590px) {
  .main-container {
    grid-template-columns:
      minmax(3/2 * $min, 2fr)
      0
      0;
  }
}
