@import "../../utilities/config";

$grid-gap: .5vw;
$min: $min-block-width;

.main-container {
  display: grid;
  overflow: hidden;

  padding: $grid-gap;
  grid-gap: $grid-gap;

  grid-template-columns:
    minmax(3/2 * $min, 2fr)
    minmax($min, 1fr)
    minmax($min, 1fr);

  grid-template-rows: auto;
}
