.room-switches-container {
  display: flex;
  align-items: center;
  margin: 1% 10px 0 0;
}

.room-switch {
  width: 30px;
  height: 25px;
  margin-left: 2%;
  border-radius: 5px;
  background-color: #3f3f3f;
}