.activeUsers-container {
  // width: 100%;
  max-height: 90vh;
  overflow-y: scroll;
  background: #444953;
}

.droppable--active {
  background: #444953af;

  $lines-color: rgb(0, 120, 0);
  //background: repeating-linear-gradient(45deg, #606dbc, #606dbc 15px, #465298 15px, #465298 50px);
  // background: repeating-linear-gradient(45deg, $lines-color, $lines-color 17px, #444953 17px, #444953 50px);
}
