.server-actions-container {
  display: grid;
  height: 100%;
  overflow: auto;
  grid-template-rows: repeat(auto-fit, minmax(1fr));
  grid-gap: 1vh;

  background: #18181baa; //#18181b50;
  // background: #18181b;
  // background: #444953;
}
