$card-height: 100px;
$image-size: 0.7 * $card-height;

$main-color: #3a3a3d;
$image-color: #23252b;
$text-color: white;

.user {
  height: $card-height;

  display: flex;
  align-items: center;
  justify-content: space-between;

  color: $text-color;
  margin: 5px;
  border-radius: 3px;

  overflow: hidden;

  transition: .5s ease-in;

  box-sizing: border-box;
  background: $main-color;
  
  cursor: grab;
}

.active-user:hover {
  transition: .5s ease-in;
  background: rgba(0, 0, 255, 0.315);
}

.user img {
  width: $image-size;
  height: $image-size;

  display: inline-block;
  overflow: hidden;

  color: #0000;
  margin: 0 10px;

  border-radius: 100%;
  background: $image-color;
}
